.htmlNoPages .gwd-motion-path-54xb-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["0px", "0px", "-40.08px", "5.38px", "-10.16px", "34.45px", "-85px", "101px"], "startTimeMs": 0, "endTimeMs": 1000, "easing": "linear"
    }
    , {
      "controlPoints": ["-85px", "101px", "-85px", "101px", "-85px", "101px", "-85px", "101px"], "startTimeMs": 1000, "endTimeMs": 3000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 3s linear 0s 1 normal forwards running gwd-motion-path-54xb-keys-x;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-54xb-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3072, 0.3518, 0.598, 0.7518);
  }
  6.67% {
    transform: translate3d(-22.74px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.413, 0.2745, 0.706, 0.6112);
  }
  33.33% {
    transform: translate3d(-85px, 0px, 0px);
  }
  100% {
    transform: translate3d(-85px, 0px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-54xb-anim-y {
  animation: 3s linear 0s 1 normal forwards running gwd-motion-path-54xb-keys-y;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-54xb-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.498, 0.145, 0.7705, 0.5652);
  }
  5.83% {
    transform: translate3d(0px, 10.13px, 0px);
    animation-timing-function: cubic-bezier(0.3157, 0.3521, 0.6267, 0.7021);
  }
  33.33% {
    transform: translate3d(0px, 101px, 0px);
  }
  100% {
    transform: translate3d(0px, 101px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-143i-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["-32px", "26px", "-18.78px", "-16.06px", "80.14px", "-39.12px", "111px", "-42px"], "startTimeMs": 0, "endTimeMs": 2000, "easing": "linear"
    }
    , {
      "controlPoints": ["111px", "-42px", "111px", "-42px", "111px", "-42px", "111px", "-42px"], "startTimeMs": 2000, "endTimeMs": 3000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 3s linear 0s 1 normal forwards running gwd-motion-path-143i-keys-x;
  transform: translate3d(-32px, 0px, 0px);
}
@keyframes gwd-motion-path-143i-keys-x {
  0% {
    transform: translate3d(-32px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4011, 0.2524, 0.7114, 0.6312);
  }
  6.67% {
    transform: translate3d(-23.92px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.365, 0.2897, 0.6779, 0.6615);
  }
  66.67% {
    transform: translate3d(111px, 0px, 0px);
  }
  100% {
    transform: translate3d(111px, 0px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-143i-anim-y {
  animation: 3s linear 0s 1 normal forwards running gwd-motion-path-143i-keys-y;
  transform: translate3d(0px, 26px, 0px);
}
@keyframes gwd-motion-path-143i-keys-y {
  0% {
    transform: translate3d(0px, 26px, 0px);
    animation-timing-function: cubic-bezier(0.1787, 0.4424, 0.5383, 0.8486);
  }
  66.67% {
    transform: translate3d(0px, -42px, 0px);
  }
  100% {
    transform: translate3d(0px, -42px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-1860-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["0px", "0px", "-43.78px", "-15.28px", "-88.23px", "-56.87px", "-120px", "-110px"], "startTimeMs": 0, "endTimeMs": 2000, "easing": "linear"
    }
    , {
      "controlPoints": ["-120px", "-110px", "-120px", "-110px", "-120px", "-110px", "-120px", "-110px"], "startTimeMs": 2000, "endTimeMs": 3000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 3s linear 0s 1 normal forwards running gwd-motion-path-1860-keys-x;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1860-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.287, 0.3746, 0.6146, 0.7251);
  }
  66.67% {
    transform: translate3d(-120px, 0px, 0px);
  }
  100% {
    transform: translate3d(-120px, 0px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-1860-anim-y {
  animation: 3s linear 0s 1 normal forwards running gwd-motion-path-1860-keys-y;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1860-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4036, 0.2271, 0.7123, 0.6447);
  }
  66.67% {
    transform: translate3d(0px, -110px, 0px);
  }
  100% {
    transform: translate3d(0px, -110px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-1ktu-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["0px", "0px", "-1.3px", "-34.41px", "47.68px", "-42.02px", "111px", "-42px"], "startTimeMs": 0, "endTimeMs": 2000, "easing": "linear"
    }
    , {
      "controlPoints": ["111px", "-42px", "111px", "-42px", "111px", "-42px", "111px", "-42px"], "startTimeMs": 2000, "endTimeMs": 3000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 3s linear 0s 1 normal forwards running gwd-motion-path-1ktu-keys-x;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1ktu-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5036, -0.0528, 0.8116, 0.6438);
  }
  11.67% {
    transform: translate3d(7.66px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3582, 0.2976, 0.6695, 0.6681);
  }
  66.67% {
    transform: translate3d(111px, 0px, 0px);
  }
  100% {
    transform: translate3d(111px, 0px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-1ktu-anim-y {
  animation: 3s linear 0s 1 normal forwards running gwd-motion-path-1ktu-keys-y;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1ktu-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1821, 0.5886, 0.3158, 1.0099);
  }
  66.67% {
    transform: translate3d(0px, -42px, 0px);
  }
  100% {
    transform: translate3d(0px, -42px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-1gix-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["0px", "0px", "68.13px", "5.38px", "103.69px", "33.98px", "105px", "87px"], "startTimeMs": 0, "endTimeMs": 2000, "easing": "linear"
    }
    , {
      "controlPoints": ["105px", "87px", "105px", "87px", "105px", "87px", "105px", "87px"], "startTimeMs": 2000, "endTimeMs": 2900, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 2.9s linear 0s 1 normal forwards running gwd-motion-path-1gix-keys-x;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1gix-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3033, 0.3365, 0.5959, 0.7837);
  }
  53.45% {
    transform: translate3d(98.38px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.205, 0.3969, 0.5103, 0.9305);
  }
  68.97% {
    transform: translate3d(105px, 0px, 0px);
  }
  100% {
    transform: translate3d(105px, 0px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-1gix-anim-y {
  animation: 2.9s linear 0s 1 normal forwards running gwd-motion-path-1gix-keys-y;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1gix-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5281, 0.056, 0.7605, 0.6013);
  }
  68.97% {
    transform: translate3d(0px, 87px, 0px);
  }
  100% {
    transform: translate3d(0px, 87px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}